@{ 
    var site = "criv.uk";
    var email = "cr@criv.uk";
}
<div class="container">
    <h1>@ViewData["Title"]</h1>

    <p>Last edited: 2018-11-08 (<a href="https://en.wikipedia.org/wiki/ISO_8601" title="YYYY-MM-DD">ISO 8601</a>)</p>
    <ol class="">
        <li><a href="#reveal-privacy" title="No privacy for the privacy policy!">Reveal the privacy policy</a></li>
        <li><a href="#nom-nom-cookies" title="You want to eat cookies?">Check the cookie policy</a></li>
        <li><a href="#change-places" title="The meta policy">Policy change policy</a></li>
    </ol>

    <h2 id="reveal-privacy">Privacy Policy Notice</h2>
    <p>
        The policy: This privacy policy notice is for this website: @site and served by [Business name & full registered address] and governs the privacy of those who use it.
        The purpose of this policy is to explain to you how we control,
        process, handle and protect your personal information while browsing or using this website, including your rights under current laws and regulations.
        If you do not agree to the following policy you may wish to cease viewing / using this website.
    </p>
    <p>Policy key definitions:</p>
    <ul>
        <li>"I", "our", "us", or "we" refer to the business, [Business name & other trading names].</li>
        <li>"you", "the user" refer to the person(s) using this website.</li>
        <li>GDPR means General Data Protection Act.</li>
        <li>PECR means Privacy & Electronic Communications Regulation.</li>
        <li>ICO means Information Commissioner's Office.</li>
        <li>Cookies mean small files stored on a users computer or device.</li>
    </ul>
    <h3>Processing of your personal data</h3>
    <p>Under the GDPR (General Data Protection Regulation) we control and / or process any personal information about you electronically using the following lawful bases.</p>

    <div>
        <strong>Lawful basis:</strong> Consent
        <strong>The reason we use this basis:</strong> #
        <strong>We process your information in the following ways:</strong> #
        <strong>Data retention period:</strong> We will continue to process your information under this basis until you withdraw consent or it is determined your consent no longer exists.
        <strong>Sharing your information:</strong> We do not share your information with third parties. / We do share your personal information with third parties and they include: .
    </div>
    <div>
        <strong>Lawful basis:</strong> Contract
        <strong>The reason we use this basis:</strong> #
        <strong>We process your information in the following ways:</strong> #
        <strong>Data retention period:</strong> We shall continue to process your information until the contract between us ends or is terminated under any contract terms.
        <strong>Sharing your information:</strong> We do not share your information with third parties. / We do share your personal information with third parties and they include: .
    </div>
    <div>
        <strong>Lawful basis:</strong> Legal obligation
        <strong>The reason we use this basis:</strong> #
        <strong>We process your information in the following ways:</strong> #
        <strong>Data retention period:</strong> #
        <strong>Sharing your information:</strong> We do not share your information with third parties. / We do share your personal information with third parties and they include: .
    </div>
    <div>
        <strong>Lawful basis:</strong> Vital interests
        <strong>The reason we use this basis:</strong> #
        <strong>We process your information in the following ways:</strong> #
        <strong>Data retention period:</strong> #
        <strong>Sharing your information:</strong> We do not share your information with third parties. / We do share your personal information with third parties and they include: .
    </div>
    <div>
        <strong>Lawful basis:</strong> Public task
        <strong>The reason we use this basis:</strong> #
        <strong>We process your information in the following ways:</strong> #
        <strong>Data retention period:</strong> #
        <strong>Sharing your information:</strong> We do not share your information with third parties. / We do share your personal information with third parties and they include: .
    </div>
    <div>
        <strong>Lawful basis:</strong> Legitimate interests
        <strong>The reason we use this basis:</strong> #
        <strong>We process your information in the following ways:</strong> #
        <strong>Data retention period:</strong> #
        <strong>Sharing your information:</strong> We do not share your information with third parties. / We do share your personal information with third parties and they include: .
    </div>
    <div>
        <strong>Lawful basis:</strong> Special category data
        <strong>The reason we use this basis:</strong> #
        <strong>We process your information in the following ways:</strong> #
        <strong>Data retention period:</strong> #
        <strong>Sharing your information:</strong> We do not share your information with third parties. / We do share your personal information with third parties and they include: .
    </div>
    <div>
        <strong>Lawful basis:</strong> Criminal offence data
        <strong>The reason we use this basis:</strong> #
        <strong>We process your information in the following ways:</strong> #
        <strong>Data retention period:</strong> #
        <strong>Sharing your information:</strong> We do not share your information with third parties. / We do share your personal information with third parties and they include: .
    </div>
    <p>If, as determined by us, the lawful basis upon which we process your personal information changes, we will notify you about the change and any new lawful basis to be used if required. We shall stop processing your personal information if the lawful basis used is no longer relevant.</p>
    <h3>Your individual rights</h3>
    <p>Under the GDPR your rights are as follows. You can read more about <a href="https://ico.org.uk/for-organisations/guide-to-the-general-data-protection-regulation-gdpr/individual-rights/" title="ICO - gdpr rights">your rights in detail here</a>.</p>
    <ul>
        <li>The right to be informed,</li>
        <li>the right of access,</li>
        <li>the right to rectification,</li>
        <li>the right to erasure,</li>
        <li>the right to restrict processing,</li>
        <li>the right to data portability,</li>
        <li>the right to object, and</li>
        <li>the right not to be subject to automated decision-making including profiling.</li>
    </ul>
    <p>You also have the right to complain to the ICO <a href="https://ico.org.uk" title="ICO">[www.ico.org.uk]</a> if you feel there is a problem with the way we are handling your data.</p>
    <p>We handle subject access requests in accordance with the GDPR.</p>

    <h2 id="nom-nom-cookies">Cookie Policy for @site</h2>

    <p>This is the Cookie Policy for @site, accessible from <a href="/" title="Website @site">https://@site</a></p>
    <p><strong>What Are Cookies</strong></p>
    <p>
        As is common practice with almost all professional websites this site uses cookies, which are tiny files that are downloaded to your computer, to improve your experience.
        This page describes what information they gather, how we use it and why we sometimes need to store these cookies.
        We will also share how you can prevent these cookies from being stored however this may downgrade or 'break' certain elements of the sites functionality.
    </p>
    <p>For more general information on cookies see the Wikipedia article on HTTP Cookies.</p>
    <p><strong>How We Use Cookies</strong></p>
    <p>
        We use cookies for a variety of reasons detailed below.
        Unfortunately in most cases there are no industry standard options for disabling cookies without completely disabling the functionality and features they add to this site.
        It is recommended that you leave on all cookies if you are not sure whether you need them or not in case they are used to provide a service that you use.
    </p>
    <p><strong>Disabling Cookies</strong></p>
    <p>
        You can prevent the setting of cookies by adjusting the settings on your browser (see your browser Help for how to do this).
        Be aware that disabling cookies will affect the functionality of this and many other websites that you visit.
        Disabling cookies will usually result in also disabling certain functionality and features of the this site.
        Therefore it is recommended that you do not disable cookies.
    </p>
    <p><strong>The Cookies We Set</strong></p>
    <ul>
        <li>
            <p>Account related cookies</p>
            <p>
                If you create an account with us then we will use cookies for the management of the signup process and general administration.
                These cookies will usually be deleted when you log out however in some cases they may remain afterwards to remember your site preferences when logged out.
            </p>
        </li>
        <li>
            <p>Login related cookies</p>
            <p>
                We use cookies when you are logged in so that we can remember this fact.
                This prevents you from having to log in every single time you visit a new page.
                These cookies are typically removed or cleared when you log out to ensure that you can only access restricted features and areas when logged in.
            </p>
        </li>
        <li>
            <p>Forms related cookies</p>
            <p>When you submit data to through a form such as those found on contact pages or comment forms cookies may be set to remember your user details for future correspondence.</p>
        </li>
    </ul>
    <p><strong>Third Party Cookies</strong></p>
    <p>In some special cases we also use cookies provided by trusted third parties. The following section details which third party cookies you might encounter through this site.</p>
    <ul>
        <li>
            <p>
                This site uses Google Analytics, one of the most widespread and trusted analytics solutions on the web for helping us to understand how you use the site and ways that we can improve your experience.
                These cookies may track things such as how long you spend on the site and the pages that you visit so that we can continue to produce engaging content.
            </p>
            <p>For more information on Google Analytics cookies, see the official Google Analytics page.</p>
        </li>
    </ul>
    <p>Hopefully that has clarified things for you and as was previously mentioned if there is something that you aren't sure whether you need or not it's usually safer to leave cookies enabled in case it does interact with one of the features you use on our site.</p>

    <h2 id="all-data-r-belong-to-u">Data and information handling</h2>
    <p>
        Depending upon what you do on our site here is the information we may collect:
    </p>
    <ul>
        <li>Name</li>
        <li>Contact details</li>
        <li>IP address</li>
        <li>Information from cookies</li>
        <li>Information about your computer or device (e.g. device and browser type)</li>
        <li>
            Information about how you use our website including:
            <ul>
                <li>which pages you have viewed,</li>
                <li>the time when you view them and what you clicked on,</li>
                <li>the geographical location from which you accessed our website (based on your IP address),</li>
                <li>any company name or business name (if applicable),</li>
                <li>and VAT number (if applicable).</li>
            </ul>
        </li>
    </ul>
    <p>If after signing up you would like to view or delete your personal data you may do so via the user management tools accessible <a asp-area="Identity" asp-page="/Account/Manage/PersonalData" title="Manage Personal Data">here</a>.</p>
    <p>Unless you sign up we do not collect personal data that can be permanently linked to you (IP address may be an exception), any data collected when not signed in is anonymised and periodically deleted.</p>
    <h3>Data security and protection</h3>
    <p>
        We ensure the security of any personal information we hold by using secure data storage technologies and precise procedures in how we store, access and manage that information.
        Our methods meet the GDPR compliance requirement.
    </p>
    <p>
        We are committed to working with the security community to verify, reproduce, and respond to legitimate reported vulnerabilities and encourage the community to participate in a responsible reporting process.
    </p>
    <p>
        To report a vulnerability please contact us at: <a href="mailto:@string.Format("vulnerability@{0}", site)" title="Report a vulnerability">@string.Format("vulnerability@{0}", site)</a>
    </p>
    <p>
        Please use our <a href="~/public_data/keys/[vulnerabilitykey]" title="Please send securely">PGP key</a> to encrypt any sensitive information and reports.
    </p>
    <h3>Third parties</h3>
    <p>
        Generally we recieve no information about you from third parties, though it is possible that third parties with whom we have had no prior contact may provide us with information about you.
        In such cases any data or information will be dealt with using our standard processing and security policies.
    </p>
    <p>
        <strong>Sponsored links, affiliate tracking & commissions - </strong> Our website may contain adverts, sponsored and affiliate links on some pages.
        These are typically served through our advertising partners; Google Adsense, eBay Partner Network, Amazon Affiliates, or are self served through our own means.
        We only use trusted advertising partners who each have high standards of user privacy and security. However we do not control the actual adverts seen / displayed by our advertising partners.
        Our ad partners may collect data and use cookies for ad personalisation and measurement.
        Where ad preferences are requested as 'non-personalised' cookies may still be used for frequency capping, aggregated ad reporting and to combat fraud and abuse.
    </p>
    <p>
        Clickable sponsored or affiliate links may be displayed as a website URL like this: www.@site or as a titled text link like this: <a href="/" title="Linking example">A link to a website</a>.
    </p>
    <p>
        Clicking on any adverts, sponsored or affiliate links may track your actions by using a cookie saved to your device.
        You can read more about cookies on this website above. Your actions are usually recorded as a referral from our website by this cookie.
        In most cases we earn a very small commission from the advertiser or advertising partner, at no cost to you, whether you make a purchase on their website or not.
    </p>
    <p>
        We use advertising partners in these ways to help generate an income from the website, which allows us to continue our work and provide you with the best overall experience and valued information.
    </p>
    <p>
        If you have any concerns about this we suggest you do not click on any adverts, sponsored or affiliate links found throughout the website.
    </p>
    <h3>Email marketing messages & subscription</h3>
    <p>
        Under the GDPR we use the consent lawful basis for anyone subscribing to our newsletter or marketing mailing list.
        We only collect certain data about you, as detailed in the "Processing of your personal date" above.
        Any email marketing messages we send are done so through an EMS, email marketing service provider.
        An EMS is a third party service provider of software / applications that allows marketers to send out email marketing campaigns to a list of users.
    </p>
    <p>
        Email marketing messages that we send may contain tracking beacons / tracked clickable links or similar server technologies in order to track subscriber activity within email marketing messages.
        Where used, such marketing messages may record a range of data such as; times, dates, I.P addresses, opens, clicks, forwards, geographic and demographic data.
        Such data, within its limitations will show the activity each subscriber made for that email campaign.
    </p>
    <p>
        Any email marketing messages we send are in accordance with the GDPR and the PECR.
        We provide you with an easy method to withdraw your consent (unsubscribe) or manage your preferences / the information we hold about you at any time.
        See any marketing messages for instructions on how to unsubscribe or manage your preferences, you can also contact the EMS provider.
    </p>
    <p>
        Our EMS provider is: [name of provider here]. We hold the following information about you within our EMS system:
        <ul>
            <li>Email address</li>
            <li>I.P address</li>
            <li>Subscription time & date</li>
            <li>[list other data that is stored]</li>
        </ul>
    </p>
    <h2 id="change-places">Policy changes</h2>
    <p>
        Changes to this policy page will occasionally be made and a last edited date provided at the top in <a href="https://en.wikipedia.org/wiki/ISO_8601" title="YYYY-MM-DD">ISO 8601</a> format.
        Any major revisions will also be alerted on the rest of the site as well.
    </p>

    <h3>More Information</h3>
    <p>If you are still looking for more information then you can contact us through one of our preferred contact methods:</p>
    <ul>
        <li>Email: <a href="mailto:@email" title="Email me">@email</a>  </li>
        <li>By visiting <a href="/contact" title="Contact">this link</a> </li>
    </ul>
    <p>This policy page was based on two templates</p>
    <p>The Cookies Policy was created with the help of the <a href="https://cookiepolicygenerator.com" title="Cookie generator">GDPR Cookies Policy Generator</a></p>

    <p>The <a href="http://jamieking.co.uk/blog/cyber-security/policies/download-free-sample-privacy-policy.php" title="Sample policy">Privacy Notice Policy Base: v.4.0 May 2018</a> - 
    Made available without liability <a href="http://jamieking.co.uk" title="Sample policy">by Jamie King, Website management services</a>.</p>
</div>

