@using Microsoft.AspNetCore.Identity
@using CrivServer.Data.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@model CrivServer.Infrastructure.ModelHelpers.ModelHeart

@{
    var CurrentUrl = Context.Request.Path;
    IEnumerable<CrivServer.Infrastructure.ModelHelpers.NavbarItems> Navbar =
    new List<CrivServer.Infrastructure.ModelHelpers.NavbarItems>() {
            new CrivServer.Infrastructure.ModelHelpers.NavbarItems { Navname = "about", Navlink = "about", Navicon = ""},
            new CrivServer.Infrastructure.ModelHelpers.NavbarItems { Navname = "contact", Navlink = "contact", Navicon = ""}
    };
    if(Model != null && Model.NavBar != null && Model.NavBar.Any())
    {
        Navbar = Model.NavBar;
    }

    var UserName = "User";
    var SignInDisabled = "disabled";
    var AuthDisabled = SignInDisabled;
    if (SignInManager.IsSignedIn(User))
    {
        SignInDisabled = "";
        UserName = UserManager.GetUserName(User);
    }
}

<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="/"><img src="" alt="criv.uk" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#NavMenu" aria-controls="NavMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="NavMenu">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="https://criv.uk" id="primarynavdrop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">criv</a>
                <div class="dropdown-menu" aria-labelledby="primarynavdrop">
                    <a class="dropdown-item" href="cooks">cooks</a>
                    <a class="dropdown-item" href="codes">codes</a>
                    <a class="dropdown-item" href="cycles">cycles</a>
                    <a class="dropdown-item" href="culture">culture</a>
                </div>
            </li>

            @foreach (var navItem in Navbar)
            {
                if (string.IsNullOrWhiteSpace(navItem.Navlink) && navItem.Navlink.Equals(CurrentUrl))
                {
                    <li class="nav-item active">
                        <a class="nav-link" href="@navItem.Navlink">@navItem.Navname<span class="sr-only">(current)</span></a>
                    </li>
                }
                else if (!string.IsNullOrWhiteSpace(navItem.Navauth) && !User.IsInRole(navItem.Navauth))
                {
                    <li class="nav-item">
                        <a class="@string.Format("nav-link {0}", AuthDisabled).Trim()" href="@navItem.Navlink">@navItem.Navname</a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link" href="@navItem.Navlink">@navItem.Navname</a>
                    </li>
                }
            }

            <li class="nav-item dropdown">
                <a class="@string.Format("nav-link dropdown-toggle {0}", SignInDisabled).Trim()" href="https://criv.uk" id="secondarynavdrop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@UserName</a>
                <div class="dropdown-menu" aria-labelledby="secondarynavdrop">
                    <a class="dropdown-item" href="random">random</a>
                    <a class="dropdown-item" href="ai">ai</a>
                    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutFormNav" class="navbar-right">
                        <button type="submit" class="dropdown-item btn">logout</button>
                    </form>
                </div>
            </li>
        </ul>
        <partial name="_LoginPartial" />
    </div>
</nav>
